<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FeatherQ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.20/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body ng-app="FeatherQ" ng-cloak>
<div class="" ng-controller="queueController">
    <div class="col-xs-12">
        <div class="col-xs-9 col-xs-offset-3 text-right">
            <h3>{{ current_number ? current_number.priority_number : next_number }}</h3>
        </div>
    </div>
    <div ng-if="called == false">
        <button class="col-xs-3 btn btn-primary" style="border-radius: 0;" ng-click="drop()"><span class="glyphicon glyphicon-trash"></span></button>
        <button class="col-xs-9 btn btn-primary" style="border-radius: 0;" ng-click="callPressed()">CALL</span></button>
    </div>
    <div ng-if="called == true">
        <button class="col-xs-3 btn btn-success" style="border-radius: 0;" ng-click="drop()"><span class="glyphicon glyphicon-trash"></span></button>
        <button class="col-xs-3 btn btn-success" style="border-radius: 0;" ng-click="done()">DONE</span></button>
        <button class="col-xs-6 btn btn-success" style="border-radius: 0;" ng-click="next()">NEXT</span></button>
    </div>
</div>
</body>
<script>
    // You can also require other files to run in this process
    require('./../renderer.js');
    require('./../angular/queueController.js');
</script>
</html>
